body {background-color: black;}

.text div{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    color: beige;
    user-select: none;
    padding-top: 5%;
    top: 50%;
    left: 60%;
}

#reload {
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 30vmin);

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -45vmin;
    margin-left: -80vmin;
}

.board div:hover {background-color: aqua;}
.board div {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    background-color: teal;
    border: 0vmin solid black;
    height: 30vmin;
    width: 30vmin;

    cursor: pointer;
    padding: 13%;
    font-family: "Arial";
    font-size: 10em;
    user-select: none;
    text-align: center;
}

.board .selected {background-color: aqua;}
.board .open     {background-color: aquamarine;}
.board .closed   {background-color: teal;}
.board .top_bottom {border-width: 0vmin 1vmin;}
.board .left_right {border-width: 1vmin 0vmin;}
.board .middle     {border-width: 1vmin;}